{{title "About"}}

<div class="wrapper">
  <div class="hero">
    <div class="hero--left">
      <div class="about--first-name">Brandon</div>
      <div class="about--last-name">Drake</div>
      <div class="about--title">Software Engineer</div>
    </div>
    <div class="hero--center">

      <div class="avatar">
        {{arc-text classNames="avatar--arc-text"
                   text="| Collaborated | Motivated | Designed | Tested "
                   radius=95
        }}

        <div class="avatar--image">
          <img src="{{rootURL}}images/avatar.png">
        </div>
      </div>
    </div>
    <div class="hero--right">
      <div class="contact-info__location">
        <div>{{mdi-icon props="map-marker,18"}}<a href="https://www.google.com/maps/place/West+Haven,+UT/data=!4m2!3m1!1s0x87530ed77073d993:0x979ce0cd87d5794?sa=X&ved=0ahUKEwj72IPDpIXVAhWLx4MKHawZA1AQ8gEIJzAA" target="_blank" rel="noreferrer noopener">West Haven, Utah</a></div>
      </div>

      <div class="contact-info__renrakusaki">
        <div>{{mdi-icon props="email,18"}}<a href="mailto:tomoguisuru@gmail.com">tomoguisuru@gmail.com</a></div>
        <div>{{mdi-icon props="twitter,18"}}<a href="https://twitter.com/tomoguisuru" target="_blank" rel="noreferrer noopener">@tomoguisuru</a></div>
        <div>{{mdi-icon props="linkedin-box,18"}}<a href="https://www.linkedin.com/in/brandon-drake-6b362050/" target="_blank" rel="noreferrer noopener">Brandon Drake</a></div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="card">
      <div class="card--left"></div>
      <div class="card-right"></div>
    </div>

  </div>
</div>