{{title "About"}}

<div class="wrapper">
  <div class="hero">
    <div class="hero--left">
      <div class="about--first-name">Brandon</div>
      <div class="about--last-name">Drake</div>
      <div class="about--title">Software Engineer</div>
    </div>
    <div class="hero--center">

      <div class="avatar">
        {{arc-text classNames="avatar--arc-text"
                   text="| Tested | Designed | Collaborated | Motivated | Coded "
                   radius=95
                   origin=-2
        }}

        <div class="avatar--image">
          <img src="{{rootURL}}images/avatar.png">
        </div>
      </div>
    </div>
    <div class="hero--right">
      <div class="contact-info__renrakusaki">
        <div>{{mdi-icon props="email,18"}}<a href="mailto:tomoguisuru@gmail.com">tomoguisuru@gmail.com</a></div>
        <div>{{mdi-icon props="github-circle,18"}}<a href="https://github.com/tomoguisuru?tab=repositories">tomoguisuru</a></div>
        <div>{{mdi-icon props="twitter,18"}}<a href="https://twitter.com/tomoguisuru" target="_blank" rel="noreferrer noopener">@tomoguisuru</a></div>
        <div>{{mdi-icon props="linkedin-box,18"}}<a href="https://www.linkedin.com/in/brandon-drake-6b362050/" target="_blank" rel="noreferrer noopener">Brandon Drake</a></div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="card">
      <article class="card--content">
        <header>
          <h3>{{mdi-icon props="school,24"}} Education</h3>
        </header>
        <section>
          <ul class="history-list">
            <li>Weber State University</li>
            <li>Bachelor of Science, Computer Software Engineering</li>
            <li>2006 - 2010</li>
          </ul>
        </section>
      </article>

      <article class="card--content card--content-right">
        <header>
          <h3>{{mdi-icon props="desktop-mac,24"}} Work Experience</h3>
        </header>
        <section>
          <ul class="history-list">
            <li>Teem Technologies Inc.</li>
            <li>Frontend Lead Developer</li>
            <li>2017 - Current</li>
          </ul>
        </section>
        <section>
          <ul class="history-list">
            <li>Teem Technologies Inc.</li>
            <li>Sr Frontend Developer</li>
            <li>2015 - 2017</li>
          </ul>
        </section>
        <section>
          <ul class="history-list">
            <li>SpruceMail</li>
            <li>Software Developer</li>
            <li>2014 - 2015</li>
          </ul>
        </section>
      </article>
    </div>

    <div class="card">
      <article class="card--content card--content-left">
        <header>
          <h3>{{mdi-icon props="professional-hexagon,24"}} Professional Skills</h3>
        </header>

        <section>
          <div class="skills">
            {{#each sortedSkills as |skill|}}
              {{#job-skill skillLevel=skill.level}}{{skill.name}}{{/job-skill}}
            {{/each}}
          </div>
        </section>
      </article>

      <article class="card--content card--content-right">
        <header>
          <h3>{{mdi-icon props="gamepad,24"}} Personal Hobbies</h3>
        </header>

        <section>

          <ul class="generic-list font--24">
            {{#each hobbies as |hobby|}}
              <li>{{mdi-icon props=hobby.icon}} {{hobby.description}}</li>
            {{/each}}
          </ul>
        </section>
      </article>
    </div>

    <div class="about-me">
      <h1>About Me</h1>
      <p>
        Programming was first introduced to me at a young age when a neighbor friend showed me that I could make simple
        "Choose your own adventure" games using BASIC. The desire to build my own games fueled my desire to learn more
        about programming.
      </p>

      <p>
        During high school I took every programming class I possible could and knew that I wanted to build meaningful programs
        professionally. I was exposed to many different languages at high school including PASCAL, C, and C++. While many
        of the projects I worked on were interesting, nothing was more memorable than my senior project where I was able
        to build a game using C++.
      </p>

      <p>
        After high school I worked in nutraceutical manufacturing making vitamin tablets and capsules while attending classes
        at Weber State University (WSU). I made several simple programs that I used to help track inventory coming in and
        out of our facility.
      </p>

      <p>
        I transitioned into IT support for Staker & Parson Companies and eventually into data analysis. It was fun but
        programming was still where my passion was.
      </p>

      <p>
        During my senior year at WSU I was hired on at Petersen Inc. as a full time .NET developer. I created an intranet
        framework using .NET 4.5 and a Quality Assurance app for tracking deviations in production. I also worked on programming
        and integrating a custom ERP system using PHP.
      </p>

      <p>
        After a few years at Petersen Inc. I found myself working for Tech Media where I worked in ASP.NET MVC making web pages
        and enhancing the existing CSM system. While at Tech Media, I wrote a small jQuery plugin that is still (mostly)
        used to this date.
      </p>

      <p>
        I was presented with an opportunity to work remotely on ASP.NET and BackboneJS pages for a startup called Spruce Media.
        We worked on an ad delivery platform for getting ads in front of people on Facebook. The market made a pivot and
        so did we and became SpruceMail LLC. Seeing that we were doing something new anyway, we started to use Ruby on
        Rails and EmberJS. I worked as the support lead fixing bugs and creating small features. Our product was great
        but the market wasn't and so it was time to find something new.
      </p>

      <p>
        I'm currently wprking for Teem.com (formerly EventBoard.io) as their lead frontend developer. I've moved Teem's
        EmberJS apps into the PODS reduced test time from 2 hours down to less than 10 minutes, introduced CI/CD, and continually
        updating our Ember apps. I've delivered several projects including a FlightBoard, a room Booking App, a completely
        re-branded and streamlined Management App, and a Self Purchasing App.
      </p>
    </div>

  </div>
</div>