<div class="wrapper">
  <div class="hero">
    <div class="hero--left">
      <div class="about--first-name">Brandon</div>
      <div class="about--last-name">Drake</div>
      <div class="about--title">Software Engineer</div>
    </div>
    <div class="hero--center">

      <div class="about--arc-text">
        {{arc-text text="| dedicated | energetic | thoughtful "
                   radius=95
        }}
      </div>
      <div class="about--avatar">
        <img src="{{rootURL}}images/avatar.png">
      </div>
    </div>
    <div class="hero--right">
      <div class="contact-info__location">
        <div>{{mdi-icon props="map-marker,18"}}West Haven, Utah</div>
      </div>

      <div class="contact-info__renrakusaki">
        <div>{{mdi-icon props="email,18"}}<a href="mailto:tomoguisuru@gmail.com">tomoguisuru@gmail.com</a></div>
        <div>{{mdi-icon props="twitter,18"}}<a href="https://twitter.com/tomoguisuru">@tomoguisuru</a></div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content--left">

    </div>
    <div class="content-right">

    </div>
  </div>
</div>